APP_ENV=prod
APP_BASE_URL=https://serpmbu.ru/finanses
DB_HOST=localhost
DB_NAME=finanses
DB_USER=fin_user
DB_PASS=STRONG_PASSWORD
SESSION_NAME=finanses_session
CSRF_SECRET=RANDOM_32B_STRING
PDF_ORG_NAME=Муниципальное бюджетное учреждение «Комбинат благоустройства»
PDF_CITY=г. Серпухов
