APP_ENV=prod
APP_BASE_URL=https://serpmbu.ru/finanses
DB_HOST=localhost
DB_NAME=finanses
DB_USER=fin_user
DB_PASS=STRONG_PASSWORD
SESSION_NAME=finanses_session
CSRF_SECRET=RANDOM_32B_STRING
PDF_ORG_NAME=Муниципальное бюджетное учреждение «Комбинат благоустройства»
PDF_CITY=г. Серпухов
PDF_DIRECTOR_LINE=Директору Кравченко К.И.
PDF_SENDER_LINE=От заместителя директора
PDF_SIGNATURE_TITLE=Заместитель директора
PDF_RECIPIENT_TITLE=Начальнику отдела закупок
PDF_RECIPIENT_NAME=Леоновой И.С.
PDF_AUTHOR_TITLE=От начальника управления
PDF_SIGNATORY_NAME=Ганенко А.А.
PDF_BODY_INTRO=В рамках исполнения контрактов прошу включить в заявку на закупку следующие позиции:
PDF_BASIS_TEXT=Основание: муниципальное задание и "Правила благоустройства территории муниципального образования «Городской округ Серпухов Московской области»", утверждённые решением Совета депутатов от 24.12.2024 № 25/288.
